header p {
  width: 300px;
  height: 100px;
  padding: 20px 30px;
  margin: 40px 20px;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 30px;
  color: #015668;
  background: #0D91A1;
  border: 3px solid #7DCE94;
}

main {
  width: 450px;
  margin: 20px;
  border: 10px solid #4285f4;
  text-align: center;
  color: #13005A;
  font-family: "Baloo Thambi 2";
  font-size: 30px;
  font-weight: bold;
}

main p {
  padding: 28px;
  margin: 0;
}
.north {
  background: #E67676;
}

.east {
  background: #F2F062;
}

.south {
  background: #A9E6E6;
}

.west {
  background: #7692E4;
}