body {
  background-color: aquamarine;
  margin: 0;
}

main {
  width: 400px;
  margin: 40px auto;
  background-color: aliceblue;
  padding: 20px 40px;
  border: 2px solid grey;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  font-size: 50px;
  text-align: center;
  color: darkgray;
  font-weight: lighter;
}

.input {
  margin-top: 50px;
  margin-bottom: 30px;
  border: 2px solid gray;
  box-shadow: 2px 2px 5px gray;
  display: flex;
}

input {
  height: 50px;
  margin: 0;
  border: none;
  width: 100%;
  padding: 0 10px;
  font-size:24px;
}

input:focus {
  outline: none;
}

button {
  font-size: 22px;
  box-sizing: content-box;
  padding-left: 30px;
  padding-right: 30px;
  height: 50px;
  border: 0;
  background-color: violet;
  color: aliceblue;
}

section {
  font-size: 22px;
  color: gray;
}

ul {
  padding: 0;
  list-style-type: none;
}

.todo {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
}

.completed {
  color: #CCCCCC;
  text-decoration: line-through;
}

.check {
  margin-left: 10px;
  border-bottom: 3px solid transparent;
}
.check:hover {
  border-bottom: 3px solid violet;
}

.delete {
  margin-left: 10px;
  border-bottom: 3px solid transparent;
}
.delete:hover {
  border-bottom: 3px solid violet;
}